// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/@splidejs/splide/src/css/themes/default/index';

.splide {
  &__pagination__page {
    background: $secondary;
    margin: 5px;
    width: 9px;
    height: 9px;

    &.is-active {
      background: #ccc;
    }
  }
}

.mh-0 {
  min-height: 0;
}

.font {
  &-medium {
    font-size: 1.2rem;
  }

  &-big {
    font-size: 1.5rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.header {
  &-logo {
    width: 200px;
  }

  &-search {
    height: 40px;
    width: 100%;

    &__btn {
      height: 40px;
    }
  }

  &-catalog__btn {
    height: 40px;
  }
}

.breadcrumb {
  &-item a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
